html, body {
    height: 100%;
}

body {
    padding-top: 90px;
}

.deckgrid .column-1-1 {
    width: 100%;
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
        visibility: hidden;
        font-size: 0
    }

    body {
        padding-top: 95px;
    }
}

.deckgrid .column {
    float: left;
}

@media screen and (min-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '4 .column.column-1-4';
        visibility: hidden;
        font-size: 0
    }
}

.deckgrid .column-1-4 {
    width: 50%;
}