<div class="container-fluid">
    <div class="hero-unit text-center">
        <h1>Ops!
            <small><font face="Tahoma" color="red">Page Not Found :(</font></small>
        </h1>
        <br/>

        <p>The page you requested could not be found. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>

        <p><b>Or you could just press this neat little button:</b></p>
        <a href="#" data-ng-href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take me home!</a>
    </div>
</div>
