<div class="col-sm-12">

    <fieldset>

        <legend>
                <small>Create a new account</small>
        </legend>

        <form name="userForm" class="form-horizontal" novalidate>

            <input type="hidden" name="id" data-ng-model="user.id">

            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First name</label>

                <div class="col-sm-3">
                    <input id="firstName" name="firstName" type="text" data-ng-model="user.firstName"
                           placeholder="first name..." required class="form-control"
                           pattern=".{2,}" title="Please type at least 2 characters">
                    <span data-ng-show="userForm.firstName.$invalid">
                        <small>Please enter a valid name</small>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last name</label>

                <div class="col-sm-3">
                    <input id="lastName" name="lastName" type="text" data-ng-model="user.lastName"
                           placeholder="last name..." required class="form-control"
                           pattern=".{2,}" title="Please type at least 2 characters">
                    <span data-ng-show="userForm.lastName.$invalid">
                        <small>Please enter a valid last name</small>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-3">
                    <input id="email" name="email" type="email" data-ng-model="user.email"
                           placeholder="email..." required class="form-control">
                    <span data-ng-show="userForm.email.$invalid">
                        <small>Please enter a valid email</small>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>

                <div class="col-sm-3">
                    <input id="password" name="password" type="password" data-ng-model="user.password"
                           placeholder="password..." required class="form-control"
                           pattern=".{4,}" title="Please type at least 4 characters">
                    <span data-ng-show="userForm.password.$invalid">
                        <small>Please enter a valid password</small>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword" class="col-sm-2 control-label">Confirm password</label>

                <div class="col-sm-3">
                    <input id="confirmPassword" name="confirmPassword" type="password" data-ng-model="user.confirmPassword"
                           placeholder="confirm password..." required class="form-control"
                           pattern=".{4,}" title="Please type at least 4 characters"
                           data-compare-to="user.password">
                    <span data-ng-messages="userForm.confirmPassword.$error">
                        <div data-ng-message="compareTo">
                            <p class="bg-warning">Must match the previous entry</p>
                        </div>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="submit" class="col-sm-3 control-label"></label>

                <div class="col-md-6">
                    <button id="submit" name="submit" data-ng-click="save(userForm)" class="btn btn-warning">
                        Submit
                    </button>
                </div>
            </div>
        </form>

    </fieldset>
</div>